<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="RabbitMQ Graph Website - Graph your RabbitMQ mapping">
        <meta name="author" content="Olivier Dolbeau">
        <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

        <title>RabbitMQ Graph Website - Graph your RabbitMQ mapping</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/jumbotron-narrow.css">
    </head>

    <body>

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">Graph my Rabbit !</h3>
            </div>

            {% if app.session.flashBag.has('error') %}
                <div class="col-lg-12">
                    {% for error in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}

            <div class="footer">
                <p>&copy; Company 2013</p>
            </div>

        </div> <!-- /container -->


    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery.graphviz/source/relreases/0.0.1/jquery.graphviz.0.0.1.min.js"></script>
  </body>
</html>

