<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="RabbitMQ Graph Website - Graph your RabbitMQ mapping">
        <meta name="author" content="Olivier Dolbeau">
        <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

        <title>RabbitMQ Graph Website - Graph your RabbitMQ mapping</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/jumbotron-narrow.css">
    </head>

    <body>

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">RabbitMQ Graph</h3>
            </div>

            {% block content %}{% endblock %}

            <div class="footer">
                <p>&copy; Company 2013</p>
            </div>

        </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>
</html>

